<template>
  <div>
    <p class="title">
      Formulario de Contacto
    </p>
    <el-row style="padding:1em;">
    </el-row>  
    <el-card class="box-card">
      <el-table
        :data="data"
        header-align="center"
        style="width: 100%"
      >
        <el-table-column
          align="center"
          prop="name"
          label="Nombre"
        />
        <el-table-column
          align="center"
          prop="email"
          label="Correo"
        />      
        <el-table-column
          align="center"
          prop="phone"
          label="Teléfono"
        />
        <el-table-column
          align="center"
          prop="message"
          label="Mensaje"
        />      
        <el-table-column
          align="center"
          label="Opciones"
        >
          <template slot-scope="scope">
            <el-button
              size="mini"
              @click="$router.push(`/dashboard/contact/${scope.row.id}/show`)"
            >
              Detalles
            </el-button>          
            <el-button
              size="mini"
              type="danger"
              @click="handleDelete(scope.row)"
            >
              Delete
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination style="padding: 20px; text-align:center"
        :total = "total"
        :page-size="8"
        :current-page.sync="currentPage"
        layout="prev, pager, next"
         @current-change="getData">
      </el-pagination>
    </el-card>

    <el-dialog
      title="Eliminar Formulario de Contacto"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose">
      <span>¿Desea eliminar el formulario de {{ this.deleteContact.name }}?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleClose()">Cancel</el-button>
        <el-button type="primary" @click="remove()">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  async asyncData({ app }) {
    let contact, pages, total, data
    try {
      contact = await app.$axios.$get('/admin/contact/form')
      pages = contact.pages
      total = contact.total
      data = contact.data
      console.log("contact");
      
      console.log(contact)
    } catch (error) {
      pages = 0
      total = 0
      data = []
    }
    return {pages, total, data}
  },
  data() {
    return {
      deleteContact:'',
      dialogVisible:false,
      currentPage: 1
    }
  },
  methods: {
    async remove () {
      try {
        // this.deleting[_id] = true
        await this.$axios.$delete('/admin/contact/form/' + this.deleteContact._id)
        this.data = this.data.filter(e => e._id !== this.deleteContact._id)
        this.dialogVisible = false
        this.$message({
          message: 'El formulario se elimino de manera satisfactoria',
          type: 'success'
        });

      } catch (e) {
        console.log(e.message)
      } finally {
        // this.deleting[_id] = false
      }
    },
    handleClose() {
      this.dialogVisible = false
    },
    handleEdit(index, row) {
      console.log(index, row);
    },
    handleDelete(row) {
      this.deleteContact = row
      console.log(this.deleteContact);
      this.dialogVisible = true
    },
    async getData(page) {
      let res = await this.$axios.$get('/admin/contact/form', {
        params: {
          page: this.currentPage
        }
      })
      console.log(res)

      this.pages = res.pages
      this.data = res.data
      this.total = res.total
    }
  }
}
</script>

<style>

</style>
