<template>
   <section>
    <div class="cont-general">
      <p class="title">
        Proyectos
      </p>
      <el-row style="padding:1em 0em; text-align: right">
        <el-button 
          class="button" 
          icon="el-icon-plus" 
          @click="$router.push(`/dashboard/areaPractice/new`)">Nuevo área de práctica</el-button>
      </el-row>
      <el-card class="box-card">
        <el-table
          :data="data"
          header-align="center"
          style="width: 100%;"
        >
          <el-table-column
            align="center"
            prop="titleArea"
            label="Nombre"
          />
          <el-table-column
            align="center"
            label="Operaciones"
          >
            <template slot-scope="scope">
              <el-button
                size="mini"
                @click="$router.push(`/dashboard/areaPractice/${scope.row._id}/show`)"
              >
                Detalles
              </el-button>          
              <el-button
                size="mini"
                type="danger"
                @click="handleDelete(scope.row)"
              >
                Eliminar
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination style="padding: 20px; text-align:center"
          :total = "total"
          :page-size="8"
          :current-page.sync="currentPage"
          layout="prev, pager, next"
          @current-change="getData">
        </el-pagination>      
      </el-card>

      <el-dialog
        title="Eliminar categoria"
        :visible.sync="dialogVisible"
        width="30%"
        :before-close="handleClose">
        <span>¿Desea eliminar?</span>
        <span slot="footer" class="dialog-footer">
          <el-button class="otherButton" @click="handleClose()">Cancelar</el-button>
          <el-button class="button" type="primary" @click="remove()">Confirmar</el-button>
        </span>
      </el-dialog>

    </div>  

  </section>
</template>

<script>
export default {
  async asyncData({ app }) {
    let categories, pages, total, data
    try {
      categories = await app.$axios.$get('/admin/practiceArea')
      pages = categories.pages
      total = categories.total
      data = categories.data
      console.log(data);
      
    } catch (error) {
      pages = 0
      total = 0
      data = []
    }
    return { pages, total, data }
  },
  data() {
      return {
           currentPage: 1,
           dialogVisible : false,
           deleteArea:''
       }
  },
  methods:{
     handleClose() {
      this.dialogVisible = false
    },
     handleDelete(row) {
      this.deleteArea = row
      console.log(this.deleteArea);
      this.dialogVisible = true
    },
    async remove () {
      try {
        await this.$axios.$delete('/admin/practiceArea/' + this.deleteArea._id)
        this.data = this.data.filter(e => e._id !== this.deleteArea._id)
        this.dialogVisible = false
        this.$message({
          message: 'El proyecto se elimino de manera satisfactoria',
          type: 'success'
        });
      } catch (e) {
        console.log(e.message)
      } finally {
        // this.deleting[_id] = false
      }
    },
    async getData(page) {
      let res = await this.$axios.$get('/admin/practiceArea', {
        params: {
          page: this.currentPage
        }
      })
      console.log(res)

      this.pages = res.pages
      this.data = res.data
      this.total = res.total
    }    
  }
  }
</script>

<style>

</style>
