<template>
    <section class="cont-general">
      <el-card :body-style="{ padding: '0px' }">
        <div slot="header" class="clearfix">
          <p class="title" style="text-transform:uppercase">
            Editar Área de Práctica
          </p>
        </div>
        <div style="padding: 10px 0px">
          <el-form 
            label-width="80px"
            label-position="top">
            <div style="padding:0px 50px;">
              <div class="container-input">
                  <p
                    style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;"
                  >Nombre de área</p>
                  <el-input
                    v-model="area.titleArea"
                    placeholder="Nombre área"
                    clearable
                  ></el-input>
              </div>
              <div class="container-input">
                  <p
                    style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;"
                  >Descripción del Área</p>
                  <el-input
                    type="textarea"
                    v-model="area.descriptionArea"
                    placeholder="Descripción del área"
                    clearable
                  ></el-input>
              </div>
              <div class="container-input">
                  <div style="display:flex; align-items:center;justify-content:space-between;width:87%">
                    <p
                      style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;"
                    >Especialidades</p>
                      <i class="icon" @click="editSpecialties(0,'add')">
                        <img
                          src="/svg/add.svg"
                          width="24px"></i>
                  </div>
                  <div
                    v-for="(esp,key) in area.specialties"
                    :key="key"
                    style="width:85%;margin-left: 25px; display:flex; align-items:center;padding: 7px 0px">
                    <el-input
                      v-model="area.specialties[key]"
                      placeholder="Especialidades"
                      clearable
                    ></el-input>
                    <div style="padding-left: 10px; cursor:pointer" @click="editSpecialties(key,'delete')">
                      <i class="el-icon-delete icon"></i>
                    </div>
                  </div>
              </div>
              <div class="container-input">
                  <p
                    style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;"
                  >Título Portada</p>
                  <el-input
                    v-model="area.title"
                    placeholder="Título de portada"
                    clearable
                  ></el-input>
              </div>
              <div class="container-input">
                  <p
                    style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;"
                  >Imagen Portada</p>
                  <NewImageModal @logo-image="area.imageUrl = $event" :datos="area.imageUrl"></NewImageModal>
              </div>
              <div class="container-input">
                  <p
                    style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;"
                  >Imagen vISTA Prévia</p>
                  <NewImageModal @logo-image="area.imageUrlSlider = $event" :datos="area.imageUrlSlider"></NewImageModal>
              </div>
              <div style="text-align: center; padding-top: 20px">
                    <el-button class="button" @click="sendProject()">GUARDAR</el-button>
              </div>
            </div>
          </el-form>
        </div>
      </el-card>
    </section>
          
   
</template>

<script>
import NewImageModal from '~/components/NewImageModal.vue'

export default {
  components:{
    NewImageModal
  },
  data(){
    return{
      area:{
          titleArea:'',
          descriptionArea:'',
          specialties:[''],
          imageUrl:'',
          imageUrlSlider:'',
          title:'',
          sliderUsTeam:[
              {
                _id: '',
                name: '',
                imageUrl:''
              }
          ]
      },
      activeName: "",
      isLoading: false,
      editableTabsValue: "",
      tabIndex: 0,
      lawyer:'',
      dialogFormVisible: false,
      selectedLawyer:false,
      formLabelWidth: '120px'
    }
  },
   async asyncData ({ app, params, error }) {
    let lawyers
    try {
      lawyers = await app.$axios.$get("/admin/staff/")
    } catch (e) {
      error({ statusCode: 404, message: 'Contacto not found' })
    }
    return {lawyers }
  },
  methods:{
    selectLawyer(){
      this.selectedLawyer = true
      this.dialogFormVisible = false
      let newTabName = this.area.sliderUsTeam.length
      console.log("selecciono algo"+ this.selectedLawyer);
      if(this.selectedLawyer){
          if(this.area.sliderUsTeam[0]._id === '' ){
              
            this.area.sliderUsTeam[0] = {
            imageUrl: this.lawyer.imageUrl,
            name: this.lawyer.name,
            _id:this.lawyer._id
          };
          }else{
            newTabName = this.area.sliderUsTeam.length + 1;
            this.area.sliderUsTeam.push({
            imageUrl: this.lawyer.imageUrl,
            name: this.lawyer.name,
            _id:this.lawyer._id
            });
          }
          this.lawyer = ''
          this.selectedLawyer = false
          this.editableTabsValue = (newTabName - 1).toString()
        }
      
    },
    editSpecialties(e, action){
      if(action === 'delete'){
        let length = this.area.specialties.length
        if(length !== 1){
          this.area.specialties.forEach((elem,index) =>{
              if(index === e){
                this.area.specialties.splice(index,1)
              }
          })
        }
      }
      if(action === 'add'){
        this.area.specialties.push("")
      }
    },
    async sendProject() {
      // let flag = this.validateEvent();
      let validator = true;
      try {
      //   for (let i = 0; i < flag.length; i++) {
      //     const element = flag[i];
      //     if (!element) {
      //       validator = false;
      //       break;
      //     }
      //   }
        // console.log(this.content);
        
        if (validator) {
          console.log("data");
          let areaTemp = this.area
          let areaT = []
          areaTemp.sliderUsTeam.forEach(elem =>  areaT.push(elem._id))
          areaTemp.sliderUsTeam = areaT
          await this.$axios.$post("/admin/practiceArea/", this.area)


          this.$message({
            message: "El evento se actualizo de manera satisfactoria",
            type: "success"
          });
          this.$router.push("/dashboard/areaPractice");
        }
      } catch (error) {
        console.log(error);
        error({ statusCode: 404, message: "No se pudo actualizar" });
      }
    },
     filterImage(v) {
      return process.env.API_URL + "/storage" + v;
    },

     async handleTabsEdit(targetName, action) {
      if (action === "add") {
        this.dialogFormVisible = true
      }
      if (action === "remove") {
        let tabs = this.area.sliderUsTeam
        let activeName = this.editableTabsValue
        if (tabs.length !== 1) {
          tabs.forEach((tab, index) => {
            
            if (index == targetName) {
              // console.log(targetName);
              
              tabs.splice(index, 1);
              this.area.sliderUsTeam = tabs;
              this.editableTabsValue = parseInt(targetName) - 1 + "";
              //  console.log(this.editableTabsValue)
              return;
            }
          });
        }
      }
    },
  }
}
</script>

<style>
.cont-general {
  padding: 10px 20px
}
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .el-form-item-content{
    margin-left:0px !important;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
