<template>
   <section class="cont-general">
    <el-card :body-style="{ padding: '0px' }">
      <div slot="header" class="clearfix">
        <p class="title" style="text-transform:uppercase">
          Editar Datos Cliente
        </p>
      </div>
      <div style="padding: 10px 0px">
        <el-form 
          label-width="80px"
          label-position="top">
          <div style="padding: 0px 50px">
              <div class="container-input">
                <p
                  style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;"
                >Logo Blanco</p>
                <NewImageModal @logo-image="customer.logoWhite = $event" :datos="customer.logoWhite"></NewImageModal>
              </div>
              <div class="container-input">
                  <p
                    style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;"
                  >Logo Color</p>
                  <NewImageModal @logo-image="customer.logoColor = $event" :datos="customer.logoColor"></NewImageModal>
              </div>
              <div class="container-input">
                  <p
                    style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;"
                  >Imagen fondo</p>
                  <NewImageModal @logo-image="customer.imageBackground = $event" :datos="customer.imageBackground"></NewImageModal>
              </div>
              <div class="container-input">
                <p
                  style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;"
                >Logo Gris</p>
                <NewImageModal @logo-image="customer.logoGrey = $event" :datos="customer.logoGrey"></NewImageModal>
              </div>
              <div 
                class="container-input">
                <p style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;">Nombre</p>
                <el-input
                  v-model="customer.name"
                  placeholder="Nombre"
                  clearable
                ></el-input>
              </div>
              <div 
                class="container-input">
                <p style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;">Descripción</p>
                <el-input
                  type="textarea"
                  v-model="customer.description"
                  placeholder="Descriptión"
                  clearable
                ></el-input>
              </div>
              <div 
                class="container-input">
              <div style="display:flex; align-items:center;justify-content:space-between;width:85.5%">
                  <p
                    style="padding: 0.5rem; text-transform: uppercase;padding-left:5px; font-weight: bold;"
                  >Servicios</p>
                    <!-- <i class="icon" @click="editService(0,'add')">
                    <img
                      src="/svg/add.svg"
                      width="24px"></i> -->
              </div>
                <!-- <div  
                  v-for="(i,k) in customer.services"
                  :key="k"
                  style="width:85%;margin-left: 2px; display:flex; align-items:center;padding: 7px 0px">
                    <el-input
                    v-model="customer.services[k].titleArea" 
                    style="margin-bottom: 8px;"></el-input>
                  <div style="padding-left: 10px; cursor:pointer" @click="editService(k,'delete')">
                    <i class="el-icon-delete icon"></i>
                  </div>
                </div> -->
              <el-tabs type="border-card" v-model="editableTabsValue" editable @edit="handleTabsEdit">
                <el-tab-pane
                    type="border-card"
                    v-for="(item,index) in customer.services"
                    :key="index"
                    :label="(index + 1).toString()"
                    :name="index.toString()">
                    <div class="container-input">
                      <p
                        style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;"
                      >Área</p>
                      <el-input
                        v-model="item.titleArea"
                        disabled
                        placeholder="Área"
                        clearable
                      ></el-input>
                    </div>
                    <div class="container-input" style="padding-top: 10px;">
                      <div class="block">
                        <img v-if="item.imageUrlSlider" :src="filterImage(item.imageUrlSlider)" height="178" width="178"/>
                      </div>
                    </div>
                </el-tab-pane>
              </el-tabs>
              <el-dialog title="Staff de abogados" :visible.sync="dialogFormVisible" modal width="70%">
                <div style="display:flex; justify-content:center;"> 
                  <el-select v-model="areaSelected2" @change="changeArea" placeholder="Seleccione un Área" width="40%">
                    <el-option
                      v-for="(are, k) in areas.data"
                      :key="k"
                      :label="are.titleArea" 
                      :value="are._id"></el-option>
                  </el-select>
                </div>
                <el-card 
                 
                  class="box-card" style="width:80%;margin:auto;margin-top: 30px;">
                  <div
                    style="padding: 30px 10px; display:flex; justify-content: space-around; ">
                    <div>
                        <img v-if="areaSelected.imageUrlSlider" :src="filterImage(areaSelected.imageUrlSlider)" height="188" width="180"/>
                    </div>
                    <div>
                      <div 
                        class="container-input">
                        <p style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;">Área</p>
                        <el-input
                          v-model="areaSelected.titleArea"
                          disabled
                          placeholder="Nombre"
                          clearable
                        ></el-input>
                      </div>
                      <div class="container-input">
                        <p style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;">Áreas de Especialidad</p>
                        <ul>
                          <li
                            v-for="(especialidad,index) in areaSelected.specialties"
                            :key="index"
                            >{{ especialidad }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </el-card>
                <span slot="footer" class="dialog-footer">
                  <el-button @click="dialogFormVisible = false">Cancel</el-button>
                  <el-button type="primary" @click="selectArea">Confirm</el-button>
                </span>
              </el-dialog>
              </div>
              <div 
                  class="container-input">
                <p style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;">Periodo</p>
                <el-input
                  v-model="customer.since"
                  placeholder="Periodo"
                  clearable
                ></el-input>
              </div>
              <div style="text-align: center; padding-top: 20px">
                <el-button
                  class="button"
                  @click="saveCustomer()">GUARDAR</el-button>
              </div>
          </div>
        </el-form>
      </div>
    </el-card>
  </section>
</template>

<script>
 import NewImageModal from '~/components/NewImageModal.vue'

export default {
  components:{
    NewImageModal
  },
  async asyncData({ app, params, error }){
    let customer,areas,areasTemp=[],flag=false
    try {
      customer = await app.$axios.$get('site/customer/' + params.id)
      console.log(customer)
      areas = await app.$axios.$get('admin/practiceArea')
      areas.data.forEach(elem=>{
        customer.services.forEach(spe=>{
          if(elem._id === spe._id){
            return flag =true;
          }
        })
        if(!flag){
          areasTemp.push(elem)
        }
        flag = false
      })
      areas.data = areasTemp
    } catch (e) {
      error({ statusCode: 404, message: 'customer not found' })
    }
    finally{
      console.log(`El id de la categoria es : ${params.id}`)
    }
    return { customer, areas }
  },
  methods:{
    async saveCustomer () {
      if (this.loading) return
      try {
        this.loading = true
        await this.$axios.$put('/admin/customer/' + this.customer._id, this.customer)          
       
        this.$message({
          message: 'El cliente se actualizó correctamente',
          type: 'success'
        });
         this.$router.push('/dashboard/customers')
      } catch (e) {
        window.alert(e.response.data.message)
      } finally {
        this.loading = false
      }
    },
    changeArea(){
      this.areas.data.forEach(elem=>{
        if(elem._id === this.areaSelected2){
          this.areaSelected = elem
        }
        });
    },
    async changeDataArea(){
      let areasTemp=[], flag=false
      this.areas = await this.$axios.$get('admin/practiceArea')
      if(this.customer.services.length > 0){
        this.areas.data.forEach(elem=>{
            this.customer.services.forEach(spe=>{
              if(elem._id === spe._id){
                return flag =true;
              }
            })
            if(!flag){
              areasTemp.push(elem)
            }
            flag = false
          })
      }else{
        areasTemp = this.areas.data
      }
        this.areas.data = areasTemp
    },
    selectArea(){
      this.selectedArea = true
      this.dialogFormVisible = false
      if(this.selectedArea){
          console.log("agregar")
          let newTabName = this.customer.services.length + 1
          this.customer.services.push({
            imageUrlSlider: this.areaSelected.imageUrlSlider,
            titleArea: this.areaSelected.titleArea,
            _id:this.areaSelected._id
          })
          this.changeDataArea()
          this.areaSelected = ''
          this.areaSelected2 = ''
          this.selectedArea = false
          this.editableTabsValue = (newTabName - 1).toString()
        }
      
    },
    async handleTabsEdit(targetName, action) {
      if (action === "add") {
        this.dialogFormVisible = true
      }
      if (action === "remove") {
        let tabs = this.customer.services
        let activeName = this.editableTabsValue
        // if (tabs.length !== 1) {
          tabs.forEach((tab, index) => {
            if (index == targetName) {
              tabs.splice(index, 1);
              this.customer.services = tabs;
              this.editableTabsValue = parseInt(targetName) - 1 + "";
              return;
            }
          });
          this.changeDataArea()
        // }
      }
    },
    filterImage(v) {
      return process.env.API_URL + "/storage" + v;
  }
  },
  data(){
    return{
      areaSelected:'',
      areaSelected2:'',
      dialogFormVisible: false,
      editableTabsValue: "",
      selectedArea: false
    }
  }
}
</script>

<style scoped>
  .cont-general {
  padding: 10px 20px
}
.el-icon-plus{
  color: #09537e;
}
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .container-input{
    padding: 10px 0px;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .el-form-item-content{
    margin-left:0px !important;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  .icon:hover{
    height: 24px;
  }
</style>
