<template>
  <section>
    <div
      v-for="(item, i) in structure"
      :key="i"
      style="padding: 5px; margin: 5px">
      <!-- Text -->
      <!-- {{ item.kind }}
      {{ language }} -->
      <div
        v-if="item.kind === 'text'">
        <p>{{ item.key }}</p>
        <el-input
          v-if="item.label !== 'Url'"
          v-model="content[item.key][language]"
          placeholder=""
          @change="validateField(content[item.key][language], item.label)"/>
        <el-select
          v-else
          v-model="content[item.key][language]">
          <el-option
            v-for="(item, i) in sections"
            :key="i"
            :label="item.name"
            :value="item.value"/>
        </el-select>
      </div>
      <!-- Text Large-->
      <div
        v-if="item.kind === 'text-lg'">
        <p>{{ item.label }}</p>
        <el-input
          v-model="content[item.key][language]"
          :rows="4"
          type="textarea"
          placeholder=""
          @change="validateField(content[item.key][language], item.label)"/>
      </div>

      <!-- Image -->
      <div
        v-else-if="item.kind === 'img'">
        <p>{{ setTitle(item.key) }}  <span style="font-size: 12px">(Click para cambiar la imagen)</span></p>
        <div style="padding-top: 20px; text-align: center">
          <div>
            <el-upload
              v-loading="isLoading"
              :before-upload="beforeUpload"
              :http-request="beforeSubmit(content, item.key)"
              :show-file-list="false"
              class="avatar-uploader"
              action="">
              <img
                v-if="content[item.key][language] !== ''"
                :src="filterImage(content[item.key])"
                class="avatar">
              <img
                v-else
                src="/default.png"
                class="avatar">
            </el-upload>
          </div>
        </div>
      </div>
      <!-- Group -->
      <div
        v-else-if="item.kind === 'group'">
        <el-card class="box-card">
          <div
            slot="header"
            class="clearfix">
            <p class="custom-title">{{ item.label }}</p>
          </div>
          <Node
            :structure="item.structure"
            :content="content[item.key]"
            :language="language"/>
        </el-card>
      </div>
      <!-- List -->
      <div
        v-else-if="item.kind === 'list'">
        <el-card class="box-card">
          <div
            slot="header"
            class="clearfix">
            <p class="custom-title">{{ item.label }}</p>
          </div>

          <el-tabs
            v-if="item.key === 'myclients'"
            v-model="temp"
            editable
            type="card"
            @tab-add="addClients(content, item.key, item.structure)"
            @tab-remove="targetName => deleteClients(content, item.key, targetName)">
            <el-tab-pane
              v-for="(tab, k) in content[item.key]"
              :key="k"
              :label="(k+1).toString()"
              :name="(k).toString()">
              <Node
                :structure="item.structure"
                :content="content[item.key][k]"
                :language="language"
              />
            </el-tab-pane>
          </el-tabs>
          
          <el-tabs
            v-if="item.key === 'portrait'"
            v-model="temp"
            editable
            type="card"
            @tab-add="addClients(content, item.key, item.structure)"
            @tab-remove="targetName => deleteClients(content, item.key, targetName)">
            <el-tab-pane
              v-for="(tab, k) in content[item.key]"
              :key="k"
              :label="(k+1).toString()"
              :name="(k).toString()">
              <Node
                :structure="item.structure"
                :content="content[item.key][k]"
                :language="language"
              />
            </el-tab-pane>
          </el-tabs>        

          <el-tabs
            v-else-if="item.key === 'history'"
            v-model="temp"
            editable
            type="card"
            @tab-add="addHistory(content, item.key, item.structure)"
            @tab-remove="targetName => deleteHistory(content, item.key, targetName)">
            <el-tab-pane
              v-for="(tab, k) in content[item.key]"
              :key="k"
              :label="(k+1).toString()"
              :name="(k).toString()">
              <Node
                :structure="item.structure"
                :content="content[item.key][k]"
                :language="language"
              />
            </el-tab-pane>
          </el-tabs>

          <el-tabs
            v-else
            type="card">
            <el-tab-pane
              v-for="(tab, k) in content[item.key]"
              :key="k"
              :label="(k+1).toString()">
              <Node
                :structure="item.structure"
                :content="content[item.key][k]"
                :language="language"
              />
            </el-tab-pane>
          </el-tabs>
        </el-card>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Node",
  props: {
    structure: {
      type: Array,
      default : () => ([])
    },
    content: {
      type: Object,
      default : () => ({})
    },
    language: {
      type: String,
      default : () => ('xd')
    },
    langpages: {
      type: Array,
      default : () => ([])
    }
  },
  data() {
    return {
      // language: 'es',
      isLoading: false,
      image: {
        name: '',
        url: '',
        format: ''
      },
      isFormat: true,
      isLT1: true,
      temp:'',
      sections: [{ name: 'Inicio', value:'' }, { name: 'Conócenos', value:'/conocenos' }, { name: 'Productos', value:'/productos' }, { name: 'Servicios', value:'/servicios' }, { name: 'Noticias Renasa', value:'/noticias' },  { name: 'Contáctanos', value:'/contactanos' }]
    }
  },
  methods: {
    async beforeUpload(file) {
      if (file) {
        if (file.size / 1024 / 1024 <= 2) {
          this.isLT1 = true
          let temp = file.name.split('.')
          this.image.name = temp[0]
          this.image.format = temp[1]
          this.image.url = await getBase64(file)
          return true
        } else {
          this.isLT1 = false
          return true
        }
      } else {
        return false
      }
    },
    filterImage (url){
      // if (url.startsWith('/')) {
        console.log(url);
        
        return process.env.API_URL + '/storage' + url
      // } else {
        // return url
      // }
    },
    beforeSubmit(content, key) {
      return async () => {
        if (this.verifiedFormat(this.image)) {
          try {
            this.isLoading = true
            console.log('SUBIENDO ...')
            let res = await this.$axios.$post('/admin/page/upload', this.image)
            console.log(res.url)
            content[key] = res.url
          } catch (e) {
            console.log(e);
            this.$message.warning(e.message)
          } finally {
            this.isLoading = false
          }
        } else {
          if (!this.isFormat) {
            this.$message.warning('Formato permitidos jpg, jpeg, png')
          }
          if (!this.isLT1) {
            this.$message.warning('Peso máximo de la imagen: 2MB')
          }
        }
      }
    },
    verifiedFormat(image) {
      let temp = image.format
      console.log(temp)
      if (temp === 'jpg' || temp === 'jpeg' || temp === 'png') {
        this.isFormat = true
        return true
      }
      this.isFormat = false
      return false
    },
    addClients(content, key, structure) {
      let data = {}
      for(let i=0; i<structure.length ; i++){
        console.log(structure[i].key)
        data[structure[i].key] = {}
        this.langpages.forEach(function (element) {
          data[structure[i].key][element.code.toString()] = ' '
        });
      }
      content[key].push(data)
      console.log(data);
      this.temp = (content[key].length - 1).toString()
    },
    deleteClients(content, key, targetName) {
      content[key].splice(parseInt(targetName), 1)
      if (this.temp === (content[key].length.toString())) {
       this.temp = (parseInt(this.temp - 1)).toString()
      }
    },
    addHistory(content, key, structure) {
      console.log('entraentraentraentraentraentraentra');
      let data = {}
      data[structure[0].key] = ''
      data[structure[1].key] = ''
      data[structure[2].key] = ''
      console.log(data);
      content[key].push(data)
      this.temp = (content[key].length - 1).toString()
    },
    deleteHistory(content, key, targetName) {
      content[key].splice(parseInt(targetName), 1)
      if (this.temp === (content[key].length.toString())) {
       this.temp = (parseInt(this.temp - 1)).toString()
      }
    },
    validateField(content, label) {
      if (content === '') {
        this.$notify({
          title: 'Advertencia',
          message: 'Campo Vacio: ' + label,
          type: 'warning'
        })
      }
    },
    setTitle(label) {
      switch (label) {
        case 'Imagen de Portada':
          return 'Imagen de Portada (Dimensión Recomendada: 1400x860)'
        case 'Imagen Principal de Producto':
          return 'Imagen Principal de Producto (Dimensión Recomendada: 350x350)'
        case 'Imagen Secundaria de Producto':
          return 'Imagen Secundaria de Producto (Dimensión Recomendada: 350x350)'
        case 'Imagen de Fondo':
          return 'Imagen de Fondo (Dimensión Recomendada: 1400x860)'
        case 'Logo':
          return 'Logo (Dimensión Recomendada: 500x220)'
        case 'Imagen':
          return 'Imagen (Dimensión Recomendada: 1000x600)'
        case 'Imagen de Fondo de Icono':
          return 'Imagen de Fondo de Icono (Dimensión Recomendada: 350x350)'
        case 'Imagen del Producto':
          return 'Imagen del Producto (Dimensión Recomendada: 1000x600)'
        case 'Imagen del Servicio':
          return 'Imagen del Servicio (Dimensión Recomendada: 1000x600)'
      }
    }
  }
}
async function getBase64 (file) {
    return new Promise((resolve, reject) => {
      const reader = new window.FileReader()
      reader.readAsDataURL(file)
      reader.onload = () => resolve(reader.result)
      reader.onerror = error => reject(error)
    })
  }
</script>

<style scoped>
  .avatar-uploader >>> .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader >>> .el-upload:hover {
    border-color: #222;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  .custom-title {
    text-transform: uppercase;
    font-weight: bold;
  }
  .el-card.is-always-shadow, .el-card.is-hover-shadow:focus, .el-card.is-hover-shadow:hover {
    box-shadow: 0 0px 0px 0;
  }
</style>
