<template>
  <section>
    <el-tabs
      v-model="lang"
      type="border-card">
      <!-- editable> -->
      <el-tab-pane
        v-loading="isLoading"
        v-for="(item, i) in langPages"
        :key="i + item.code"
        :label="item.name"
        :name="item.name">
        <!-- {{ page.content }} -->
        <PageFormTree
          :structure="page.structure"
          :content="page.content"
          :language="item.code"
          :langPages="langPages"
          :namepage="namepage"/>
          <!-- {{ item.code }} -->
        <div style="text-align: center">
          <el-button
            class="button"
            @click="update">GUARDAR</el-button>
        </div>
      </el-tab-pane>
    </el-tabs>
  </section>


</template>

<script>
import PageFormTree from './PageFormTree'
import alllanguages from '~/data/language'
export default {
  components: {
    PageFormTree
  },
  props: {
    page: {
      type: Object,
      default : () => ({})
    },
    langs: {
      type: Array,
      default : () => ({})
    },
    namepage: {
      type: String,
      default : ''
    }
  },
  data () {
    return {
      lang: '',
      newlang: '',
      isLoading: false,
      dialogAddLangVisible: false,
      langPages: this.langs
    }
  },
  mounted() {
    this.lang = this.langs[0].name
    console.log(this.page)
  },
  computed: {
    alllanguages () {
      return alllanguages
    }
  },
  methods: {
    async update() {
      try {
        this.isLoading = true
        let pagelanguage = {
          page: this.page,
          language : this.langPages
        }
       // console.log(this.$route.params.name);
        
        let r = await this.$axios.$put('/admin/' + this.$route.params.name + '/'+ this.page._id, pagelanguage)
        // console.log(this.page);
        this.$notify({
          title: 'Exito al guardar',
          message: 'La página ha sido actualizada',
          type: 'success'
        })
      } catch (e) {
        // console.log(e)
        this.$notify.error({
          title: 'Error',
          message: e.message
        })
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style scoped>
.button {
  background-color: #1e506e;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px
}
.button:hover {
  background-color: white;
  color: #1e506e;
  padding: 10px 40px;
  border-radius: 5px;
}
.el-tabs--border-card >>> .el-tabs__header .el-tabs__item.is-active {
    color: #000;
    background-color: #fff;
    border-right-color: #dcdfe6;
    border-left-color: #dcdfe6;
}

.el-tabs--border-card >>> .el-tabs__header .el-tabs__item:not(.is-disabled):hover {
    color: #222222;
}
</style>
