<template>
  <div>
    <BlogContent
    :categories="categories"/>
  </div>  
</template>

<script>
import BlogContent from '~/components/BlogContent'
export default {
  components: {
    BlogContent
  },
    async asyncData({ app }){
    let categories
    try {
      categories = await app.$axios.$get('/site/product/category')
    } catch (error) {
      categories = []
    }
    // console.log(categories)
    return {categories}
  }
}
</script>

<style>

</style>
