<template>
  <section class="cont-general">
    <el-card :body-style="{ padding: '0px' }">
      <div slot="header" class="clearfix">
        <p class="title" style="text-transform:uppercase">
          Nuevo Abogados
        </p>
      </div>
      <div style="padding: 10px 0px">
        <el-form 
          label-width="80px"
          label-position="top">
          <div
            style="padding: 0px 50px">
            <el-form-item label="Nombre">
              <el-input v-model="lawyer.name"></el-input>
            </el-form-item>
            <el-card class="box-card">
              <el-row :gutter="20" style="">
                <el-col :span="9">
                <el-form-item class="input-width" label="Teléfono">
                  <el-input v-model="lawyer.informationContact[0].phone"></el-input>
                </el-form-item>
                <el-form-item class="input-width" label="Celular">
                  <el-input v-model="lawyer.informationContact[0].cellPhone"></el-input>
                </el-form-item>
                </el-col>
                <el-col :span="9">
                <el-form-item class="input-width" label="Email">
                  <el-input v-model="lawyer.informationContact[0].email"></el-input>
                </el-form-item>
                <el-form-item class="input-width" label="Linkedin">
                  <el-input v-model="lawyer.informationContact[0].linkedin"></el-input>
                </el-form-item>
                </el-col>
              </el-row>
            </el-card>
            <el-form-item label="Foto">
              <NewImageModal @logo-image="lawyer.imageUrl = $event" :datos="lawyer.imageUrl"></NewImageModal>
            </el-form-item>
            <div slot="header" class="clearfix" style="display:flex;align-items:center; justify-content:space-between">
                    <p class="sub-title" style="text-transform:uppercase">
                      Experiencia representativa o experiencia profesional
                    </p>
            </div>
            <el-tabs type="border-card" v-model="editableTabsValueExperience" editable @edit="handleTabsEditExperience">
              <el-tab-pane
                  type="border-card"
                  v-for="(item, index) in lawyer.experience"
                  :key="index"
                  :label="(index + 1).toString()"
                  :name="index.toString()">
                  <el-form-item label="Empresa" style="width:90%;margin-left:20px;">
                      <el-input v-model="item.business"></el-input>
                    </el-form-item>
                    <el-form-item label="Funciones" style="width:90%;margin-left:20px;">
                      <el-input v-model="item.functions"></el-input>
                    </el-form-item>
                    <el-form-item label="Periodo" style="width:90%;margin-left:20px;">
                      <el-input v-model="item.lapse"></el-input>
                    </el-form-item>
              </el-tab-pane>
            </el-tabs>
            <div slot="header" class="clearfix" style="display:flex;align-items:center; justify-content:space-between">
              <p class="sub-title" style="text-transform:uppercase">
                Formación académica
              </p>
            </div>
             <el-tabs type="border-card" v-model="editableTabsValueEducation" editable @edit="handleTabsEditEducation">
              <el-tab-pane
                  type="border-card"
                  v-for="(item, index) in lawyer.education"
                  :key="index"
                  :label="(index + 1).toString()"
                  :name="index.toString()">
                  <el-form-item label="Institución" style="width:90%;margin-left:20px;">
                    <el-input v-model="item.institution"></el-input>
                  </el-form-item>
                  <el-form-item label="Facultad" style="width:90%;margin-left:20px;">
                    <el-input v-model="item.facultad"></el-input>
                  </el-form-item>
                   <div class="container-input">
                    <div style="display:flex; align-items:center;justify-content:space-between;width:87%">
                      <p
                        style="padding: 0.5rem; text-transform: uppercase;padding-left:30px;"
                      >Carrera</p>
                        <i class="icon" @click="editCareer(0,'add')">
                          <img
                            src="/svg/add.svg"
                            width="24px"></i>
                    </div>
                      <div  
                        v-for="(i,k) in item.career"
                        :key="k"
                        style="width:85%;margin-left: 25px; display:flex; align-items:center;padding: 7px 0px">
                         <el-input
                          v-model="i.name" 
                          style="margin-bottom: 8px;"></el-input>
                        <div style="padding-left: 10px; cursor:pointer" @click="editCareer(k,'delete')">
                          <i class="el-icon-delete icon"></i>
                        </div>
                      </div>
                   </div>
              </el-tab-pane>
             </el-tabs>
          <div>
            <div slot="header" class="clearfix">
              <p class="title" style="text-transform:uppercase">
                Áreas de Especialidad
              </p>
            </div>
            <el-tabs type="border-card" v-model="editableTabsValue" editable @edit="handleTabsEdit">
              <el-tab-pane
                  type="border-card"
                  v-for="(item,index) in lawyer.specialtyArea"
                  :key="index"
                  :label="(index + 1).toString()"
                  :name="index.toString()">
                  <div class="container-input">
                    <p
                      style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;"
                    >Área</p>
                    <el-input
                      v-model="item.titleArea"
                      disabled
                      placeholder="Área"
                      clearable
                    ></el-input>
                  </div>
                  <div class="container-input" style="padding-top: 10px;">
                    <div class="block">
                      <img v-if="item.imageUrlSlider" :src="filterImage(item.imageUrlSlider)" height="178" width="178"/>
                    </div>
                  </div>
              </el-tab-pane>
              <div style="text-align: center; padding-top: 20px">
                  <el-button
                    class="button"
                    @click="updateStaff()">GUARDAR</el-button>
              </div>
              </el-tabs>
              <el-dialog title="Staff de abogados" :visible.sync="dialogFormVisible" modal width="70%">
                <div style="display:flex; justify-content:center;"> 
                  <el-select v-model="areaSelected2" @change="changeArea" placeholder="Seleccione un Área" width="40%">
                    <el-option
                      v-for="(are, k) in areas.data"
                      :key="k"
                      :label="are.titleArea" 
                      :value="are._id"></el-option>
                  </el-select>
                </div>
                <el-card 
                 
                  class="box-card" style="width:80%;margin:auto;margin-top: 30px;">
                  <div
                    style="padding: 30px 10px; display:flex; justify-content: space-around; ">
                    <div>
                        <img v-if="areaSelected.imageUrlSlider" :src="filterImage(areaSelected.imageUrlSlider)" height="188" width="180"/>
                    </div>
                    <div>
                      <div 
                        class="container-input">
                        <p style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;">Área</p>
                        <el-input
                          v-model="areaSelected.titleArea"
                          disabled
                          placeholder="Nombre"
                          clearable
                        ></el-input>
                      </div>
                      <div class="container-input">
                        <p style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;">Áreas de Especialidad</p>
                        <ul>
                          <li
                            v-for="(especialidad,index) in areaSelected.specialties"
                            :key="index"
                            >{{ especialidad }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </el-card>
                <span slot="footer" class="dialog-footer">
                  <el-button @click="dialogFormVisible = false">Cancel</el-button>
                  <el-button type="primary" @click="selectArea">Confirm</el-button>
                </span>
              </el-dialog>
          </div>
          </div>
          <div class="separator"/>
        </el-form>
      </div>
    </el-card>
        </section>
      </template>


<script>
import NewImageModal from '~/components/NewImageModal'
export default {
  data(){
    return{
      nameKinService: '0',
      nameImage: '0',
      dialogFormVisible: false,
      areaSelected:'',
      areaSelected2:'',
      editableTabsValue: "",
      editableTabsValueExperience:'',
      editableTabsValueEducation:'',
       selectedArea: false,
       lawyer:{
        name:'',
        _id:'',
        informationContact:[
          {phone:'',cellPhone:'',email:'',linkedin:''}
        ],
        imageUrl:'',
        experience:[
          {business:'',functions:'',lapse:''}
        ],
        education:[
          {institution:'',facultad:'',career:[{name:''}]}
        ],
        specialtyArea:[
          {
            _id:'',
            titleArea:'',
            imageUrlSlider:'',
            specialties:['']
          }
        ]
       }
    }
  },
  async asyncData ({ app, params, error }) {
    let areas
    try {
      areas = await app.$axios.$get('admin/practiceArea')

    } catch (e) {
      error({ statusCode: 404, message: 'Contacto not found' })
    }
    return { areas }
  },  
  methods: {
    changeArea(){
      this.areas.data.forEach(elem=>{
        if(elem._id === this.areaSelected2){
          this.areaSelected = elem
        }
        
        });
      
    },
    async changeDataArea(){
    let areasTemp=[], flag=false
    this.areas = await this.$axios.$get('admin/practiceArea')
     if(this.lawyer.specialtyArea.length > 0){
       this.areas.data.forEach(elem=>{
           this.lawyer.specialtyArea.forEach(spe=>{
             if(elem._id === spe._id){
               return flag =true;
             }
           })
           if(!flag){
             areasTemp.push(elem)
           }
           flag = false
         })
     }else{
       areasTemp = this.areas.data
     }
      this.areas.data = areasTemp
    },
    selectArea(){
      this.selectedArea = true
      this.dialogFormVisible = false
      if(this.selectedArea){
          console.log("agrega")
           let newTabName = this.lawyer.specialtyArea.length;
          if(this.lawyer.specialtyArea[0]._id === ''){
            
            this.lawyer.specialtyArea[0] = {
              imageUrlSlider: this.areaSelected.imageUrlSlider,
              titleArea: this.areaSelected.titleArea,
              _id:this.areaSelected._id
            }
          }else{
            newTabName = this.lawyer.specialtyArea.length + 1;
            this.lawyer.specialtyArea.push({
              imageUrlSlider: this.areaSelected.imageUrlSlider,
              titleArea: this.areaSelected.titleArea,
              _id:this.areaSelected._id
            })
          }
          this.changeDataArea()
          this.areaSelected = ''
          this.areaSelected2 = ''
          this.selectedArea = false
          this.editableTabsValue = (newTabName - 1).toString()
        }
      
    },
    editCareer(e, action){
      if(action === 'delete'){
        let length = this.lawyer.education[this.editableTabsValueEducation].career.length
        if(length !== 1){
          this.lawyer.education[this.editableTabsValueEducation].career.forEach((elem,index) =>{
              if(index === e){
                this.lawyer.education[this.editableTabsValueEducation].career.splice(index,1)
              }
          })
        }
      }
      if(action === 'add'){
        
        this.lawyer.education[this.editableTabsValueEducation].career.push({name:""})
      }
    },
    async updateStaff(){
      // let flag = this.validateService()
      let validator = true
      try {
        // for (let i = 0; i < flag.length; i++) {
        //   const element = flag[i];
        //   if (!element) {
        //     validator = false
        //     break
        //   }
        // }
        let arrTemp =[]
        this.lawyer.specialtyArea.forEach(elem=>arrTemp.push(elem._id))
        this.lawyer.specialtyArea = arrTemp
        console.log("enviando...");
        
        console.log(this.lawyer.specialtyArea)
        
        if (validator) {
          await this.$axios.$post('/admin/staff/', this.lawyer)
          this.$router.push('/dashboard/staffLawyer')
          this.$message({
          message: 'El Staff se guardo de manera satisfactoria',
          type: 'success'
          });
          this.$router.push('/dashboard/staffLawyer')
        }
      } catch (error) {
        console.log(error);
        error({ statusCode: 404, message: 'No se pudo actualizar' })
      }
    },
    validateService () {
      let flag = []
      flag.push(this.validateField(this.service.name, 'Nombre del Servicio'))
      flag.push(this.validateField(this.service.content, 'Descripcion del Servicio'))
      for (let i = 0; i < this.service.kindServices.length; i++) {
        const element = this.service.kindServices[i]
        let j = i+1
        flag.push(this.validateField(element.title, 'Tipo de servicio ' + j))
      }
      return flag
    },
    validateField (field, label) {
      // console.log(field)
      if (field === '') {
        this.$notify({
          title: 'Advertencia',
          message: 'Llenar el campo requerido: ' + label,
          type: 'warning',
          duration: 0
        })
        return false
      } else {
        return true
      }
    },
    filterImage(v) {
      return process.env.API_URL + "/storage" + v;
    },
     async handleTabsEdit(targetName, action) {
      if (action === "add") {
        this.dialogFormVisible = true
      }
      if (action === "remove") {
        let tabs = this.lawyer.specialtyArea
        let activeName = this.editableTabsValue
        // if (tabs.length !== 1) {
          tabs.forEach((tab, index) => {
            
            if (index == targetName) {
              // console.log(targetName);
              
              tabs.splice(index, 1);
              this.lawyer.specialtyArea = tabs;
              this.editableTabsValue = parseInt(targetName) - 1 + "";
              //  console.log(this.editableTabsValue)
              return;
            }
          });
         this.changeDataArea()
      }
    },
    async handleTabsEditExperience(targetName, action) {
      if (action === "add") {
        let newTabName = this.lawyer.experience.length + 1;
        this.lawyer.experience.push({business:'',functions:'',lapse:''})
      this.editableTabsValueExperience = (newTabName - 1).toString()
      }
      if (action === "remove") {
        let tabs = this.lawyer.experience
        let activeName = this.editableTabsValueExperience
        if (tabs.length !== 1) {
          tabs.forEach((tab, index) => {
            
            if (index == targetName) {
              // console.log(targetName);
              
              tabs.splice(index, 1);
              this.lawyer.experience = tabs;
              this.editableTabsValueExperience = parseInt(targetName) - 1 + "";
              //  console.log(this.editableTabsValue)
              return;
            }
          });
        }
      }
    },
    async handleTabsEditEducation(targetName, action) {
      if (action === "add") {
        let newTabName = this.lawyer.education.length + 1;
        this.lawyer.education.push({institution:'',facultad:'',career:[{name:''}]})
        this.editableTabsValueEducation = (newTabName - 1).toString()
      }
      if (action === "remove") {
        let tabs = this.lawyer.education
        let activeName = this.editableTabsValueEducation
        if (tabs.length !== 1) {
          tabs.forEach((tab, index) => {
            
            if (index == targetName) {
              // console.log(targetName);
              
              tabs.splice(index, 1);
              this.lawyer.education = tabs;
              this.editableTabsValueEducation = parseInt(targetName) - 1 + "";
              //  console.log(this.editableTabsValue)
              return;
            }
          });
        }
      }
    },
  },
  components:{
    NewImageModal
  },
}
</script>

<style>
.cont-general {
  padding: 20px
}
.sub-title{
  font-size: 1em;
  padding: 15px;
  text-align: left
}
.title {
  font-size: 1.5em;
  padding: 15px;
  text-align: center
}
.button {
  background-color: #1e506e;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px
}
.button:hover {
  background-color: white;
  color: #1e506e;
  padding: 10px 40px;
  border-radius: 5px;
}
.separator {
  border: 0.5px solid #ddd
}
label{
  text-transform: uppercase;
}
.input-width{
  width:230px;
}
</style>
