.cont-general {
  padding: 40px
}
.title {
  font-size: 1.5em;
  padding: 15px;
  text-align: center
}
.otherButton {
  background-color: white;
  color: #1e506e ;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}
.button {
  background-color: #09537e;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: white;
  color: #1e506e;
  padding: 10px 30px;
  border-radius: 5px;
}
.el-tabs__new-tab{
  margin-right: 10px;
}