<template>
  <div>
    <el-row>
      <div style="padding-bottom: 20px">
        <p>Nuevo Post</p>
      </div>
      <el-form label-position="top">
        <el-col
          :span="18"
          style="padding-right: 30px; ">
            <el-form-item label="Titulo">
              <el-input
                v-model="post.title"/>
            </el-form-item>
          <el-form-item
            label="Contenido">
            <no-ssr>
              <Editor
                v-model="post.content"
                :init="editorConfig"
                style="height: 80%"
                @change="changeLang()"/>
            </no-ssr>
          </el-form-item>
        </el-col>
        <el-col
          :span="6"
          style="padding-left: 30px; background-color:aliceblue">
          <el-row>
            <el-col :span="12">
              <el-form-item label="Cover">
                  <el-upload
                    class="avatar-uploader"
                    action=""
                    :show-file-list="false"
                    :on-success="handleAvatarSuccess">
                    <img :src="filterImage(post.cover)" class="avatar">
                  </el-upload>
                  <!-- <NewImageModal @logo-image="post.cover = $event" :data="post.cover"></NewImageModal> -->
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="Preview">
                  <el-upload
                    class="avatar-uploader"
                    action=""
                    :show-file-list="false"
                    :on-success="handleAvatarSuccessPreview">
                    <img :src="filterImage(post.preview)" class="avatar">
                  </el-upload>              
              </el-form-item>
            </el-col>
          </el-row>
          <el-form-item label="Descripcion">
            <el-input
              v-model="post.description"
              :rows="3"
              maxlength="285"
              type="textarea"
              placeholder="Please input"/>
          </el-form-item>
          <!-- {{ post.category._id }} -->
          <div v-if="cat">
            <el-form-item label="Categoria">
              <el-select
                v-model="cat"
                placeholder="Select">
                <el-option
                  v-for="(item, i) in categories"
                  :key="i"
                  :label="item.name"
                  :value="item._id"/>
              </el-select>
            </el-form-item>
          </div>
          <el-form-item label=" ">
            <el-button @click="submit">Guardar</el-button>
          </el-form-item>
        </el-col>
      </el-form>
    </el-row>
    <ImageModal
      :visible="this.dialogVisible"
      :src="src"
      @close="handleClose($event)"
      @send="insertImage($event)"/>
  </div>
</template>


<script>
import Editor from '@tinymce/tinymce-vue'
import ImageModal from '~/components/ImageModal'
// import NewImageModal from '~/components/NewImageModal'

export default {
  props:{
    categoriesblog: {
      type: Array,
      default: () => []
    },
    postblog: {
      type: Object,
      default: () => {}
    }    
  },  
  components:{
    ImageModal,
    // NewImageModal
  },
  data(){
    return{
      editorConfig:getEditorConfig(this),
      categories:'',
      post:'',
      cat: '',
      src:'',
      dialogVisible:false
    }
  },
  mounted(){
    this.categories = this.categoriesblog
    this.post = this.postblog
    if(this.post.category == null){
      this.cat = 'Sin categoria'
    }
    else{
      this.cat = this.post.category.id
    }
  },

  methods: {
    async submit(){
      try {
        this.post.category = this.cat
        await this.$axios.$put('/admin/blog/post/'+ this.post.id, this.post)
        console.log('Enviando post');
        console.log(this.post)
        this.$message({
          message: 'La categoria se actualizo correctamente',
          type: 'success'
        });
        this.$router.push('/dashboard/blog')
      } catch (error) {
        window.alert(e.response.data.message)
      }
    },
    async handleAvatarSuccess(res, file) {
      this.post.cover = await getBase64(file.raw)
    },
    async handleAvatarSuccessPreview(res, file) {
      this.post.preview = await getBase64(file.raw)
    },
    getBase64,
    insertImage(val) {
      console.log(val)
      if (typeof val === 'string') {
        const html = '<img src="' + this.filterImage(val) + '" width="500" alt="" />'
        window.tinymce.activeEditor.execCommand('mceInsertContent', false, html)
      } else {
        // console.log('no es para el contenido')
        if (val.src === 'cover') {
          this.other.cover = val
          delete this.other.cover.src
        } else {
          this.other.preview = val
          delete this.other.preview.src
        }
      }
    },
    handleClose(val){
      this.dialogVisible = val
    },
    filterImage(v) {
      return process.env.API_URL + v
    },
  }
}

function getEditorConfig (vm){
  return {
    height: 425,
    menubar: false,
    plugins: [
      'advlist link  lists charmap preview hr code',
      'searchreplace wordcount visualblocks visualchars code fullscreen',
      'insertdatetime save table contextmenu directionality',
      'paste textcolor colorpicker textpattern image  imagetools',
      'pagebreak '
    ],
    image_advtab: true,
    relative_urls: false,
    toolbar1: 'undo redo | insert | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | fullscreen',
    toolbar2: 'preview | forecolor backcolor | p_image btn_youtube | styleselect blockquote | code | pagebreak | link ',
    pagebreak_separator: '<!-- more -->',
    setup(editor) {
      editor.addButton('p_image', {
        icon: 'image',
        tooltip: 'Inserta una imagen',
        onclick () {
          vm.dialogVisible = true
          vm.src = ''
        }
      })
    }
  }
}
async function getBase64 (file) {
  return new Promise((resolve, reject) => {
    const reader = new window.FileReader()
    reader.readAsDataURL(file)
    reader.onload = () => resolve(reader.result)
    reader.onerror = error => reject(error)
  })
}
</script>

<style>

</style>
