<template>
  <div class="cont-general">
    <el-row>
      <div style="padding-bottom: 20px">
        <p>Nuevo Post</p>
      </div>
      <el-form label-position="top">
        <el-col 
          :span="18"
          style="padding-right: 30px; ">
          <el-form-item label="Titulo">
            <el-input
              v-model="post.title"/>
          </el-form-item>
          <el-form-item
            label="Contenido">
            <no-ssr>
              <Editor
                v-model="post.content"
                :init="editorConfig"
                style="height: 80%"
                @change="changeLang()"/>
            </no-ssr>
          </el-form-item>
        </el-col>
        <el-col 
          :span="6"
          style="padding-left: 30px; background-color:aliceblue">
          <el-row>
            <el-col :span="12">
              <el-form-item label="Cover">
                <NewImageModal @logo-image="post.cover = $event" :data="post.cover"></NewImageModal>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="Preview">
                <NewImageModal @logo-image="post.preview = $event" :data="post.preview"></NewImageModal>        
              </el-form-item>
            </el-col>
          </el-row>
          <el-form-item label="Descripcion">
            <el-input
              v-model="post.description"
              :rows="3"
              maxlength="285"
              type="textarea"
              placeholder="Please input"/>
          </el-form-item>
          <el-form-item label="Categoria">
            <el-select
              v-model="post.category"
              placeholder="Select">
              <el-option
                v-for="(item, i) in categories"
                :key="i"
                :label="item.name"
                :value="item._id"/>
            </el-select>
          </el-form-item>
          <el-form-item label=" ">
            <el-button @click="submit">Guardar</el-button>
          </el-form-item>
        </el-col>
      </el-form>
    </el-row>
    <ImageModal
      :visible="dialogVisible"
      :src="src"
      @close="handleClose($event)"
      @send="insertImage($event)"/>
  </div>  
</template>

<script>
import Editor from '@tinymce/tinymce-vue'
import ImageModal from '~/components/ImageModal'
import NewImageModal from '~/components/NewImageModal'

export default {
  props:{
    categories: {
      type: Array,
      default: () => []
    },    
  },
  components: {
    ImageModal,
    NewImageModal
  },
  data(){
    return{
      post:{
        title:'',
        content:'',
        description:'',
        category:'',
        cover: '/uploadimage.jpg',
        preview:'/uploadimage.jpg'
      },
      editorConfig:getEditorConfig(this),
      content:'',
      src:'',
      dialogVisible:false
    }
  },
  methods:{
    async submit(){
      try {
        await this.$axios.$post('/admin/blog/post/', this.post)          
        this.$message({
          message: 'El post se guardo correctamente',
          type: 'success'
        }); 
        this.$router.push('/dashboard/blog')
      } catch (e) {
        window.alert(e.response.data.message)
      }
      console.log(this.post)
    },
    insertImage(val) {
      console.log(val)
      if (typeof val === 'string') {
        const html = '<img src="' + this.filterImage(val) + '" width="500" alt="" />'
        window.tinymce.activeEditor.execCommand('mceInsertContent', false, html)
      } else {
        console.log('no es para el contenido')
        if (val.src === 'cover') {
          this.other.cover = val
          delete this.other.cover.src
        } else {
          this.other.preview = val
          delete this.other.preview.src
        }
      }
    },
    handleClose(val){
      this.dialogVisible = val
    },
    filterImage(v) {
      return process.env.API_URL + v
    },
  }
}

function getEditorConfig (vm){
  return {
    height: 425,
    menubar: false,
    plugins: [
      'advlist link  lists charmap preview hr code',
      'searchreplace wordcount visualblocks visualchars code fullscreen',
      'insertdatetime save table contextmenu directionality',
      'paste textcolor colorpicker textpattern image  imagetools',
      'pagebreak '
    ],
    image_advtab: true,
    relative_urls: false,
    toolbar1: 'undo redo | insert | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | fullscreen',
    toolbar2: 'preview | forecolor backcolor | p_image btn_youtube | styleselect blockquote | code | pagebreak | link ',
    pagebreak_separator: '<!-- more -->',
    setup(editor) {
      editor.addButton('p_image', {
        icon: 'image',
        tooltip: 'Inserta una imagen',
        onclick () {
          vm.dialogVisible = true
          vm.src = ''
        }
      })
    }
  }
}

</script>

<style>
  .cont-general {
    padding: 20px;
  }
</style>
