<template>
  <div>
    <el-dialog
      v-loading="isLoading"
      :visible.sync="isVisible"
      title="Subir Imagen"
      width="30%"
      @close="handleClose()">
      <el-upload
        ref="upload"
        :show-file-list="false"
        :before-upload="beforeAvatarUpload"
        :http-request="submit"
        list-type="text"
        class="avatar-uploader"
        action="">
        <div
          style="display: flex; width: 100%">
          <img
            v-if="image.url !== ''"
            :src="image.url"
            class="avatar">
          <i
            v-else
            class="el-icon-plus avatar-uploader-icon"/>
        </div>
      </el-upload>

      <div style="margin-top: 20px; text-align: center">
        <el-button
          type="success"
          @click="submitUpload">Subir</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  export default {
    props: {
      visible: {
        type: Boolean,
        default: false
      },
      src: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        isVisible: false,
        isLoading: false,
        image: {
          name: '',
          format: '',
          url: ''
        },
        url: ''
      }
    },
    watch: {
      visible: function(val) {
        this.isVisible = this.visible
      }
    },
    methods: {
      async beforeAvatarUpload(file) {
        console.log(file)
        let temp = file.name.split('.')
        this.image.name = temp[0]
        this.image.format = temp[1]
        this.image.url = await getBase64(file)
      },
      handleClose() {
        this.image = {
          name: '',
          format: '',
          url: ''
        }
        this.$emit('close', false)
      },

      async submitUpload() {
        if(this.verifiedFormat(this.image)){
          try {
            this.isLoading = true
            console.log('Subiendo ...')
            let res = await this.$axios.$post('/admin/blog/post/upload', this.image)
            console.log('Sale del api: ')
            console.log(res)
            if (this.src === '') {
              this.url = res.url
              this.$emit('send', this.url)
            } else {
              this.image.name = this.image.name + '.' + this.image.format
              this.image.url = res.url
              this.image.src = this.src
              delete this.image.format
              this.$emit('send', this.image)
            }
            this.image = {
              name: '',
              format: '',
              url: ''
            }
            this.url = ''
            this.isLoading = false
            this.isVisible = false
            this.handleClose()
          } catch (e) {
            console.log(e);
            this.$message.warning(e.message)
            this.image = {
              name: '',
              format: '',
              url: ''
            }
            this.isLoading= false
          }
        } else {
          this.$message.warning('Formato inválido.')
          this.image = {
              name: '',
              format: '',
              url: ''
            }
          this.isVisible = false
          this.handleClose()
        }
      },
      async submit() {
        console.log('Antes de Subir');

      },
      verifiedFormat(image) {
        let temp = image.format
        if (temp === 'jpg' || temp === 'jpeg' || temp === 'png') {
          return true
        }
        return false
      }
    }
  }
  async function getBase64 (file) {
    return new Promise((resolve, reject) => {
      const reader = new window.FileReader()
      reader.readAsDataURL(file)
      reader.onload = () => resolve(reader.result)
      reader.onerror = error => reject(error)
    })
  }
</script>

<style scoped>
  .avatar-uploader >>> .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .avatar-uploader >>> .el-upload:hover {
    border-color: #409EFF;
    width: 100%;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100%;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 100%;
    height: 50%;
    display: block;
  }
</style>