<template>
  <div>
    <el-upload
      :before-upload="beforeAvatarUpload"
      :on-success="handleAvatarSuccess"
      :on-progress="handleTest"
      :show-file-list="false"
      action
      class="avatar-uploader"
    >
      <img
        v-if="imageUrl"
        :src="isBase64(imageUrl) || imageUrl == '/uploadimage.jpg' ? imageUrl : filterImage(imageUrl)"
        class="avatar"
      >
      <i v-else class="el-icon-plus avatar-uploader-icon"></i>
    </el-upload>
  </div>
</template>

<script>
export default {
  props: {
    datos: {
      type: String,
      default: null
    }
  },
  mounted() {
    // console.log('Esta es la data' + this.datos)
    this.imageUrl = this.datos;
    // console.log('hola')
    // console.log('Esta es la imageUrl' + this.imageUrl);
  },
  data() {
    return {
      imageUrl: ""
    };
  },
  watch: {
    datos() {
      this.imageUrl = this.datos;
    }
  },
  methods: {
    async handleAvatarSuccess(res, file) {
      // console.log(file.raw);
      if (file.raw.logo) {
        this.imageUrl = file.raw.logo;
        // console.log("Actualizando" + this.imageUrl);
      } else {
        this.imageUrl = await getBase64(file.raw);
        // console.log("Guardando" + this.imageUrl);
      }
      this.$emit("logo-image", this.imageUrl);
    },
    beforeAvatarUpload(file) {
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isLt2M) {
        this.$message.error("La imagen excede los 2MB!");
      }
      return isLt2M; //&& isJPG;
    },
    getBase64,
    isBase64,
    filterImage(v) {
      return process.env.API_URL + "/storage" + v;
    },
    async handleTest(event, file, fileList) {
      if (file.raw.logo) {
        this.imageUrl = file.raw.logo;
      } else {
        this.imageUrl = await getBase64(file.raw);
        // console.log("Guardando" + this.imageUrl);
      }
      this.$emit("logo-image", this.imageUrl);
    }
  }
};

async function getBase64(file) {
  return new Promise((resolve, reject) => {
    const reader = new window.FileReader();
    reader.readAsDataURL(file);
    reader.onload = () => resolve(reader.result);
    reader.onerror = error => reject(error);
  });
}

function isBase64(text) {
  return /^data:/.test(text);
}
</script>


<style>
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>
