<template>
  <div>
    <input type="text" v-model="datanew">
    <el-button size="small" type="submit" @click="sendData(data)">Actualizar</el-button>
    {{ datanew }}
  </div>
</template>

<script>
export default {
  props:['data'],
  mounted(){
    this.datanew = this.data
  },
  data(){
    return{
      datanew:''
    }
  },
  methods:{
    sendData(e){
      //this.$emit('update:data', this.datanew)
      this.$emit('data-test', this.datanew)
    }
  }
}
</script>


<style>

</style>
