<template>
  <span style="padding-left: 10px; text-align:center; padding-top:20px; color:white;">
    &copy; Powered by <a style="text-decoration: none" target="_blank" href="https://prodequa.com/">
      <span style="font-weight: bold; color:white;">
        Prodequa &reg;
      </span>
    </a>
  </span>
</template>

<script>
export default {

}
</script>

<style scoped>
</style>
