<template>
  <div>
    <el-row style="line-height:60px; background-color:#1e506e; color:white">
      <el-col :span="24" class="center"><h1>ADMINISTRADOR</h1></el-col>
    </el-row>
  </div>
</template>

<script>
export default {

}
</script>

<style>
  .center{
    text-align: center;
    vertical-align: middle !important;
  }
</style>
