<template>
  <div class="">
    <div
      style="position: absolute; top: 0; padding: 14px 20px; z-index: 1"
      @click="hideShowNB()">
      <img
        src="/svg/menu.svg"
        width="24px">
    </div>
    <el-menu
      :collapse="isCollapse"
      default-active="actived"
      style="border: 1px solid #1e506e; height: 100%;"
      background-color="#09537e"
      text-color="white"
      active-text-color="#222">
      <div style="height: 40px"/>
      <li style="text-align: center; padding: 10px; border-bottom: solid white 1px">
        <img
          src="/logo_hng.png"
          style="width: 100%; max-width: 120px; cursor: pointer"
          @click="goHome()">
      </li>
      <div
        v-for="(item, i) in $store.state.menu"
        :key="i">
        <el-submenu
          v-if="item.childs"
          :index="i.toString()"
          style="border-bottom: solid white 1px;">
          <template slot="title">
            <img
              :src="item.img"
              width="24px">
            <span
              slot="title"
              style="margin-left: 20px">{{ item.name }}</span>
          </template>
          <el-menu-item
            v-for="(element, j) in item.childs"
            :index="i.toString() + '-' + (j + 1).toString()"
            :key="j"
            style="border-bottom: solid white 1px;"
            @click="goTo(element)"
          >
            {{ element.name }}
          </el-menu-item>
        </el-submenu>
        <el-menu-item
          v-else
          :index="i.toString()"
          style="border-bottom: solid white 1px"
          @click="goTo(item)">
          <img
            :src="item.img"
            width="24px">
          <span
            slot="title"
            style="margin-left: 20px">{{ item.name }}</span>
        </el-menu-item>
      </div>
      <el-menu-item
        index="-20"
        style="width: 100%;"
        @click="$auth.logout()">
        <img
          src="/nav/power.svg"
          width="24px">
        <span
          slot=""
          style="margin-left: 20px">Cerrar Sesión</span>
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      isCollapse: false,
      indexMenu: -1
    }
  },
  methods: {
    goTo (element) {
      if (element.slug === 'general') {
        this.$store.dispatch('setTitle', 'General')
      } else {
        if (element.slug === 'blog' || element.slug === 'post' || element.slug === 'category') {
          this.$store.dispatch('setTitle', 'Noticias')
        } else {
          if (element.slug === 'settings') {
            this.$store.dispatch('setTitle', 'Ajustes')
          } else {
            if (element.slug === 'home' || element.slug === 'about' || element.slug === 'products' || element.slug === 'service' || element.slug === 'news' || element.slug === 'contact') {
              this.$store.dispatch('setTitle', 'Administración de Secciones')
            }
          }
        }
      }
      this.$router.push(element.href)
    },
    goHome() {
      this.$store.dispatch('setTitle', 'Bienvenido')
      this.$router.push('/dashboard')
    },
    hideShowNB() {
      if (this.isCollapse) this.isCollapse = false
      else this.isCollapse = true
    }
  },
}
</script>

<style lang="css" scoped>
.is-active {
  background-color:white !important
}
</style>