<template>
  <div>
    <h1 style="padding-top:1em; padding-bottom:2em; padding-left:2em; text-align:center">
      Formulario de Contacto
    </h1>
    <el-card class="box-card">
      <el-form ref="form" :model="contact" label-width="120px">
        <el-form-item label="Nombre">
          <el-input v-model="contact.name" disabled></el-input>
        </el-form-item>
        <el-form-item label="Correo">
          <el-input v-model="contact.email" disabled></el-input>
        </el-form-item>
        <el-form-item label="Distrito">
          <el-input v-model="contact.district" disabled></el-input>
        </el-form-item>
        <el-form-item label="Celular">
          <el-input v-model="contact.phone" disabled></el-input>
        </el-form-item>
        <el-form-item label="Servicio">
          <el-input v-model="contact.service" disabled></el-input>
        </el-form-item>        
        <el-form-item label="Mensaje">
          <!-- <el-input type="textarea" rows="3" size="medium" class="resizetxArea" v-model="contact.message" disabled></el-input> -->
          <textarea class="el-input" v-model="contact.message" disabled rows="5"></textarea>
        </el-form-item>
        <div class="centerblock">
          <el-button class="otherButton" size="small" type="info" @click="$router.push(`/dashboard/contact/`)">Atras</el-button>
        </div>
      </el-form>
    </el-card>
  </div>
</template>

<script>
export default {
  async asyncData ({ app, params, error }) {
    let contact
    try {
      contact = await app.$axios.$get('admin/contact/form/' + params.id)
      console.log('Los parametros son: '+ contact)
    } catch (e) {
      error({ statusCode: 404, message: 'Contacto not found' })
    }
    return { contact }
  },
  data () {
    return {
      show: false
    }
  },
  methods: {
  }
}
</script>

<style scoped>

  .el-input{
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    cursor: not-allowed;
    resize: none;
    border-radius: 4px;
  }

  .centerblock{
    text-align: center;
    margin: 2em;
  }  

</style>
