<template>
  <div class="cont-general">
    <p class="title">
      Información General
    </p>
    <el-card class="box-card">
      <el-form ref="form" :model="infogeneral" label-width="120px">
        <el-form-item label="Dirección">
          <el-input v-model="infogeneral.address"></el-input>
        </el-form-item>     
        <el-form-item label="Correo">
          <el-input v-model="infogeneral.email"></el-input>
        </el-form-item>
        <el-form-item label="Teléfono">
          <el-input v-model="infogeneral.phone"></el-input>
        </el-form-item>
        <el-form-item label="Facebook">
          <el-input v-model="infogeneral.facebook"></el-input>
        </el-form-item>
        <el-form-item label="Direccion Fb">
          <el-input v-model="infogeneral.routefacebook"></el-input>
        </el-form-item>
        <el-form-item label="Linkedin">
          <el-input v-model="infogeneral.linkedin"></el-input>
        </el-form-item>
        <el-form-item label="Direccion Linked.">
          <el-input v-model="infogeneral.routelinkedin"></el-input>
        </el-form-item>        
        <el-form-item label="Logo">
          <NewImageModal 
            @logo-image="infogeneral.logo = $event" :datos="infogeneral.logo"></NewImageModal>
        </el-form-item>
        
        <div class="centerblock">
          <el-button class="button" size="small" type="submit" @click="update">ACTUALIZAR</el-button>
        </div>
      </el-form>
    </el-card>
  </div>
</template>

<script>

import NewImageModal from '~/components/NewImageModal'
export default {
  data(){
    return{
      dataTest2:'',
      imageTest:'',
      fileList: [],
      tempBrochure: '',
      item: ''
    }
  },
  components:{
    NewImageModal
  },
  async asyncData({ app,params,error }){  
    let infogeneral
    try {
      infogeneral = await app.$axios.$get('/admin/information')
    
    } catch (e) {
      error({ statusCode: 404, message: 'infogeneral not found' })
    }
    finally{

    }
    return { infogeneral }    
  },
  mounted() {
   
  },
  methods:{
      
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },   
    handleExceed(files, fileList) {
      this.$message.warning(`El límite es 2, haz seleccionado ${files.length} archivos esta vez, añade hasta ${files.length + fileList.length}`);
    },
    beforeGeneralInfoUpload(file) {
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isLt2M) {
        this.$message.error('El documento excede los 2MB!');
      }
      return isLt2M //&& isJPG;
    },
    async update () {
      if (this.loading) return
      try {
        this.loading = true
        console.log(this.infogeneral)
        await this.$axios.$put('/admin/information/',this.infogeneral)
        this.$router.push('/dashboard/infogeneral')
        this.$message({
          message: 'La información general se actualizo correctamente',
          type: 'success'
        });
      } catch (e) {
        window.alert(e.response.data.message)
      } finally {
        this.loading = false
      }
    },
  }
  
}

async function getBase64 (file) {
  return new Promise((resolve, reject) => {
    const reader = new window.FileReader()
    reader.readAsDataURL(file)
    reader.onload = () => resolve(reader.result)
    reader.onerror = error => reject(error)
  })
}
</script>

<style scoped>
  .title {
    font-size: 1.5em;
    padding: 15px;
    text-align: center
  }

  .centerblock{
    text-align: center;
    margin: 2em;
  }  

  .el-form-item__label {
    line-height:40px
  }
  /* input{
    line-height:40px
  } */
</style>