<template>
  <div>
    <p class="title">
      Contenido Email
    </p>
    <el-card class="box-card">
      <el-form ref="form" :model="mail" label-width="120px">
        <el-form-item label="Saludo">
          <el-input v-model="mail.greeting"></el-input>
        </el-form-item>
        <el-form-item label="Contenido">
          <el-input
            type='textarea' 
            v-model="mail.message"></el-input>
        </el-form-item>                
        <div class="centerblock">
          <el-button class="button" size="small" type="submit" @click="update">ACTUALIZAR</el-button>
        </div>
      </el-form>
    </el-card>
  </div>
</template>

<script>

export default {
  data(){
    return{
      // mail:{
      //   greeting: '',
      //   message: ''
      // }
    }
  },
  async asyncData({ app,params,error }){
    let mail
    try {
      mail = await app.$axios.$get('admin/mail/contact')
    } catch (e) {
      error({ statusCode: 404, message: 'mail not found' })
    }
    finally{
      console.log(mail)
    }
    return { mail }
  },
  methods:{
    async update () {
      if (this.loading) return
      try {
        this.loading = true
        await this.$axios.$put('/admin/mail' , this.mail)
        // this.$router.push('/dashboard/infogeneral')
        this.$message({
          message: 'El email se actualizo correctamente',
          type: 'success'
        });
      } catch (e) {
        window.alert(e)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style>
  .centerblock{
    text-align: center;
    margin: 2em;
  }  
</style>


