<template>
  <div>
    <p class="title">
      Idiomas
    </p>
    <el-row style="padding:1em;">
      <el-col :offset="20">
        <el-button
          class="button"
          type="info" 
          icon="el-icon-plus" 
          @click="dialogAddLangVisible = true">Nuevo Idioma</el-button>
      </el-col>
    </el-row>
    <el-card class="box-card">
      <el-table
        :data="languages"
        header-align="center"
        style="width: 100%;"
      >
        <el-table-column
          align="center"
          prop="name"
          label="Nombre"
        />
        <el-table-column
          align="center"
          prop="code"
          label="Código"
        />        
        <el-table-column
          align="center"
          label="Operaciones"
        >
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="danger"
              @click="handleDelete(scope.row)"
            >
              Delete
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    
    <el-dialog
      title="Eliminar categoria"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose">
      <span>¿Desea eliminar el idioma {{ this.deleteAlliance.name }}?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleClose()">Cancel</el-button>
        <el-button type="primary" @click="remove()">Confirm</el-button>
      </span>
    </el-dialog>

    <el-dialog title="Nuevo idioma" :visible.sync="dialogAddLangVisible" width="30%">
      <el-select v-model="newlang" placeholder="Seleccione un idioma">
        <el-option v-for="d in alllanguages" :value="d.code" :key="d.code" :label="d.name"></el-option>
      </el-select>      
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogAddLangVisible = false">Cancel</el-button>
        <el-button type="primary" @click="sendNewLanguage">Confirm</el-button>
      </span>
    </el-dialog>
  </div>  
</template>

<script>
import alllanguages from '~/data/language'
export default {
  async asyncData({ app }) {
    let languages
    try {
      languages = await app.$axios.$get('/admin/language')
    } catch (error) {
      languages = []
    }
    return { languages }
  },
  data() {
    return {
      newlang:'',
      dialogAddLangVisible: false,
      dialogVisible : false,
      deleteAlliance : '',
      currentPage: 1
    }
  },
  computed: {
    alllanguages () {
      return alllanguages
    }
  },  
  methods: {
    handleClose() {
      this.dialogVisible = false
    },
    handleEdit(index, row) {
      console.log(index, row);
    },
    handleDelete(row) {
      this.deleteAlliance = row
      this.dialogVisible = true
    },

    async sendNewLanguage(){
      let nlanguage
      let langrepeat = this.languages.filter( lang => lang.code === this.newlang) 
      if (langrepeat.length > 0) {
        // console.log('lenguaje repetido');
        this.$notify.error({
          title: 'Error al agregar idioma',
          message: 'El idioma seleccionado ya existe'
        })      
      }
      else{
        // console.log('lenguaje nuevo');
        nlanguage = this.alllanguages.filter( language => language.code === this.newlang )
        this.languages.push({
          code: nlanguage[0].code,
          name: nlanguage[0].name
        })
        // this.lang = nlanguage[0].name
        try {
          this.isLoading = true
          console.log(nlanguage);
          let r = await this.$axios.$post('/admin/language', nlanguage)
          this.$notify({
            title: 'Exito al agregar idioma',
            message: 'La página ha sido actualizada',
            type: 'success'
          })
        } catch (e) {
          this.$notify.error({
            title: 'Error',
            message: e.message
          })
        }
        this.dialogAddLangVisible = false
      }
      this.newlang = ''
      this.isLoading = false
    },    
    async remove () {
      try {
        console.log(this.deleteAlliance)
        await this.$axios.$delete('/admin/language/' + this.deleteAlliance.code)
        this.languages = this.languages.filter(e => e._id !== this.deleteAlliance._id)
        this.dialogVisible = false
        this.$message({
          message: 'El idioma se elimino de manera satisfactoria',
          type: 'success'
        });
      } catch (e) {
        console.log(e.message)
      } finally {
        // this.deleting[_id] = false
      }
    }  
  }
}
</script>

<style lang="css" scoped>

</style>
