<template lang="html">
  <div class="">
    <el-container>
      <el-main style="background-color: white; padding: 0">
        <el-container>
          <el-aside style="width: auto; height: calc(100vh)">
            <TheNavigation style="height: 100%" />
          </el-aside>
          <el-container style="flex-direction: column">
            <!-- <el-header style="box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); height: 60px; z-index: 1; background-color: #fff; padding: 0">
              <TheHeader />
            </el-header> -->
            <nuxt style="background-color: #fff; width: 100%; height: calc(100vh - 57px); overflow-y: scroll;" />
            <TheFooter style="background-color: #09537e; align-items: center; height: 57px;" />
          </el-container>
        </el-container>
      </el-main>
    </el-container>
  </div>
</template>

<script>
import TheNavigation from '~/components/TheNavigation'
// import TheHeader from '~/components/TheHeader'
import TheFooter from '~/components/TheFooter'
export default {
  components: {
    TheNavigation, 
    TheFooter
    // TheHeader
  },
  data() {
    return {
    }
  },
  created() {
    // this.$store.commit('SET_EMPLOYEE', this.$auth.user)
  }
}
</script>

<style>

</style>
