<template>
  <section>
    <div class="background">
      <div class="login">
        <form style="padding:30px 0px" @submit.prevent="login">
          <!-- <div style="text-align: center">
            <img src="LOGO-TECH.png" class="logo">
          </div> -->
          <div>
            <div class="field">
              <div>
                <img src="/login/user.svg" style="margin-right:15px">
              </div>
              <div>
                <el-input
                  v-model="auth.email"
                  class="input-login"
                  type="text"
                  placeholder="Correo"/>
              </div>
            </div>
            <div style="padding: 10px"></div>
            <div class="field">
              <div>
                <img src="/login/lock.svg" style="margin-right:15px">
              </div>
              <div>
                <el-input
                  v-model="auth.password"
                  class="input-login"
                  type="password"
                  placeholder="Password"/>
              </div>
            </div>
          </div>
          <div style="padding-top: 20px; text-align: center">
            <button
              type="submit"
              class="login-button"
              style="cursor:pointer">
              INICIAR SESIÓN
            </button>
          </div>
          <div style="padding-top: 20px; text-align: center">
             <a
                  style="margin-bottom: 20px; cursor: pointer; color:white"
                  @click="notify()"
                >
                  ¿Olvidaste tu contraseña?
                </a>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>

<script>

export default {
  middleware: 'auth',
  layout: 'auth',
  data() {
    return {
      auth: {
        email: '',
        password: ''
      },
      url: process.env.API_URL,
      valid: true,
      dialog: false,
      incorrect: false,
      noClose: false
    }
  },
  methods: {
    notify() {
      this.$notify({
        title: 'Aviso',
        message: 'Por favor, comunicarse con Prodequa',
        type: 'warning'
      })
    },
    async login() {
      if (this.auth.email !== '' & this.auth.password !== '') {
        if(this.auth.password.length < 6){
          const h = this.$createElement
          this.$notify.error({
            title: 'Error',
            message: 'La contraseña no puede ser menor a 6 caracteres'
          })
        }
        else{
          await this.$auth.loginWith('local', { data: this.auth }).then(() => {
            // let isLoading = true
            // console.log('aaaaa')
            const loading = this.$loading({
              lock: true,
              text: 'Loading',
              spinner: 'el-icon-loading',
              background: 'rgba(0, 0, 0, 0.7)'
            })
            this.$store.commit('SET_EMPLOYEE', this.$auth.user)
            this.$router.push('/dashboard')
            loading.close()
          }).catch(() => {
            this.$notify.error({
              title: 'Error',
              message: 'Usuario y/o contraseña incorrecta'
            })
          })
        }
      }
      else {
        const h = this.$createElement
        this.$notify({
          title: 'Info',
          message: h('n', { style: 'color: teal' }, 'Usuario o Contraseña incompleto')
        })
      }
    }
  }
}
</script>

<style>
.background {
  background-image: url("/PORTADA.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex
}
.login {
  background-color: rgba(0, 0, 0, 0.7);;
  width: 25%;
  min-width: 300px;
  margin: auto;
  border-radius: 10px;
  padding: 30px;
}
.logo {
  width: 50%;
  min-width: 100px;
}
.field {
  display: flex;
  flex-direction: row;
  justify-content: center
}
.login-button {
  padding: 10px 20px;
  color: white;
  background-color: #ef7035 !important;
  border: 0;
  box-shadow: 0px 0px 5px #ef7035 !important;
  border-radius:10px;
}
.login-button:hover {
  padding: 10px 20px;
  color: #26548e;
  background-color: white !important;
  border: 0;
  box-shadow: 0px 0px 5px white !important;
  border-radius:10px;
}

</style>
