<template>
  <div>
    <h1 style="padding-top:1em; padding-left:2em; text-align:center; font-size: 2em;">
      Clientes
    </h1>
    <el-row style="padding:1em;">
      <el-col :offset="20">
        <el-button 
          class="button" 
          type="info" 
          icon="el-icon-plus" 
          @click="$router.push(`/dashboard/customers/new`)">Nuevo Cliente</el-button>
      </el-col>
    </el-row>
    <el-card class="box-card">
      <el-table
        :data="dataCustomers"
        header-align="center"
        style="width: 100%;"
      >
        <el-table-column
          align="center"
          prop="name"
          label="Nombre"
        />
        <el-table-column
          align="center"
          label="Operaciones"
        >
          <template slot-scope="scope">
            <el-button
              size="mini"
              @click="$router.push(`/dashboard/customers/${scope.row._id}/show`)"
            >
              Detalles
            </el-button>          
            <el-button
              size="mini"
              type="danger"
              @click="handleDelete(scope.row)"
            >
              Delete
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination style="padding: 20px; text-align:center"
        :total = "total"
        :page-size="5"
        :current-page.sync="currentPage"
        layout="prev, pager, next"
         @current-change="getData">
      </el-pagination>      
    </el-card>

    
    <el-dialog
      title="Eliminar categoria"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose">
      <span>¿Desea eliminar la {{ this.deleteCustomer.name }}?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleClose()">Cancel</el-button>
        <el-button type="primary" @click="remove()">Confirm</el-button>
      </span>
    </el-dialog>

  </div>  
</template>

<script>
export default {
  async asyncData({ app }) {
    let customers, pages, total, dataCustomers
    try {
      customers = await app.$axios.$get('/admin/customer')
      pages = customers.pages
      total = customers.total
      dataCustomers = customers.data
    } catch (error) {
      pages = 0
      total = 0
      dataCustomers = []
    }
    return { pages, total, dataCustomers }
  },
  data() {
    return {
      dialogVisible : false,
      deleteCustomer : '',
      currentPage: 1
    }
  },
  methods: {
    handleClose() {
      this.dialogVisible = false
    },
    handleEdit(index, row) {
      console.log(index, row);
    },
    handleDelete(row) {
      this.deleteCustomer = row
      // console.log(this.deleteCustomer);
      this.dialogVisible = true

    },
    async remove () {
      try {
        await this.$axios.$delete('/admin/customer/' + this.deleteCustomer._id)
        console.log(this.dataCustomers);
        
        this.dataCustomers = this.dataCustomers.filter(e => e._id !== this.deleteCustomer._id)
        this.dialogVisible = false
        this.$message({
          message: 'La categoria se elimino de manera satisfactoria',
          type: 'success'
        });
      } catch (e) {
        console.log(e.message)
      } finally {
        // this.deleting[_id] = false
      }
    },
    async getData(page) {
      let res = await this.$axios.$get('/admin/customer', {
        params: {
          page: this.currentPage
        }
      })
      console.log(res)

      this.pages = res.pages
      this.dataCustomers = res.data
      this.total = res.total
    }    
  }
}
</script>

<style>

</style>
