<template>
   <section class="cont-general">
    <el-card :body-style="{ padding: '0px' }">
      <div slot="header" class="clearfix">
        <p class="title" style="text-transform:uppercase">
          Editar Datos Cliente
        </p>
      </div>
      <div style="padding: 10px 0px">
        <el-form 
          label-width="80px"
          label-position="top">
          <div style="padding:0px 50px">
              <div class="container-input">
                <p
                  style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;"
                >Logo Blanco</p>
                <NewImageModal @logo-image="customer.logoWhite = $event" :datos="customer.logoWhite"></NewImageModal>
              </div>
              <div class="container-input">
                  <p
                    style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;"
                  >Logo Color</p>
                  <NewImageModal @logo-image="customer.logoColor = $event" :datos="customer.logoColor"></NewImageModal>
              </div>
              <div class="container-input">
                  <p
                    style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;"
                  >Imagen fondo</p>
                  <NewImageModal @logo-image="customer.imageBackground = $event" :datos="customer.imageBackground"></NewImageModal>
              </div>
              <div 
                class="container-input">
                <p style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;">Nombre</p>
                <el-input
                  v-model="customer.name"
                  placeholder="Nombre"
                  clearable
                ></el-input>
              </div>
              <div 
                class="container-input">
                <p style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;">Descripción</p>
                <el-input
                  type="textarea"
                  v-model="customer.description"
                  placeholder="Descriptión"
                  clearable
                ></el-input>
              </div>
              <div 
                class="container-input">
              <div style="display:flex; align-items:center;justify-content:space-between;width:85.5%">
                  <p
                    style="padding: 0.5rem; text-transform: uppercase;padding-left:5px; font-weight: bold;"
                  >Servicios</p>
                    <i class="icon" @click="editService(0,'add')">
                    <img
                      src="/svg/add.svg"
                      width="24px"></i>
              </div>
                <div  
                  v-for="(i,k) in customer.services"
                  :key="k"
                  style="width:85%;margin-left: 2px; display:flex; align-items:center;padding: 7px 0px">
                    <el-input
                    v-model="i.service" 
                    style="margin-bottom: 8px;"></el-input>
                  <div style="padding-left: 10px; cursor:pointer" @click="editService(k,'delete')">
                    <i class="el-icon-delete icon"></i>
                  </div>
                </div>
                <div 
                  class="container-input">
                <p style="padding: 0.5rem; font-weight: bold; text-transform: uppercase;">Periodo</p>
                <el-input
                  v-model="customer.since"
                  placeholder="Periodo"
                  clearable
                ></el-input>
              </div>
              </div>
              <div style="text-align: center; padding-top: 20px">
                <el-button
                  class="button"
                  @click="saveCustomer()">GUARDAR</el-button>
              </div>

          </div>
        </el-form>
      </div>
    </el-card>
  </section>
</template>

<script>
 import NewImageModal from '~/components/NewImageModal.vue'

export default {
  components:{
    NewImageModal
  },
  methods:{
    async saveCustomer () {
      if (this.loading) return
      try {
        this.loading = true
        console.log(this.customer);
        
        await this.$axios.$post('/admin/customer/', this.customer)          
       
        this.$message({
          message: 'El cliente se guardó correctamente',
          type: 'success'
        });
         this.$router.push('/dashboard/customers')
      } catch (e) {
        window.alert(e.response.data.message)
      } finally {
        this.loading = false
      }
    },
    editService(e, action){
      if(action === 'delete'){
        let length = this.customer.services.length
        if(length !== 1){
          this.customer.services.forEach((elem,index) =>{
              if(index === e){
               this.customer.services.splice(index,1)
              }
          })
        }
      }
      if(action === 'add'){
        
        this.customer.services.push({service:""})
      }
    },
  },
  data(){
    return{
      customer:{
        logoWhite:'',
        logoColor:'',
        imageBackground:'',
        name:'',
        description:'',
        services:[{service:''}],
        since:''
      }
    }
  }
}
</script>

<style>
  .cont-general {
  padding: 10px 20px
}
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .container-input{
    padding: 10px 0px;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .el-form-item-content{
    margin-left:0px !important;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  .icon:hover{
    height: 24px;
  }
</style>
