<template lang="html">
  <div style="height: 100%; position: relative;">
    <div
      style="height: 100%; width: 100%; background-image: url(/portada_staff_abogados.jpg); background-size: cover; background-position: center; filter: brightness(66.67%); padding:0px !important; height:100%"/>
    <div class="general-title">
      ¡Bienvenido al Administrador
    </div>
  </div>
</template>


<script>
export default {
  middleware: 'auth',
  layout: 'dashboard'
}
</script>

<style lang="css">
.icon {
  width: 24px;
  height: 24px;
  -webkit-mask: url(/svg/home.svg) no-repeat center;
  mask: url(/svg/home.svg) no-repeat center;
}
.general-title {
  font-size: 72px;
  text-align: center;
  color: white;
  /* text-transform: uppercase; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  max-width: 80%;
  box-sizing: border-box;
  text-shadow: 2px 2px 8px #000;
}
</style>
