<template>
  <section>
    <div class="cont-general">
      <PageForm
        :page="page"
        :langs="langs"
        :namepage="namepage"/>
    </div>
  </section>
</template>

<script>
import PageForm from '~/components/page-structure/PageForm'
export default {
  components: {
    PageForm
  },
  async asyncData ({ app, params }) {
    let page,langs,namepage
    try {
      console.log("en la pagina");
      
      console.log(params)
      if (params.name) {
        page = await app.$axios.$get('/admin/' + params.name)
        // page = page[0]
        console.log('esto es la pagina');
        console.log(page);
        namepage = params.name
        console.log('name page');
        console.log(params.name)
        langs = await app.$axios.$get('/admin/language')
        console.log('LANGUAGES');
        console.log(langs);
      } else {
        page = {}
      }
    } catch (e) {
      page = {}
      console.log(e)
    }
    return { page,langs,namepage }
  }
}
</script>

<style lang="css">
.cont-general {
  padding: 40px
}
</style>
